@import '../../css/normolize.css'
@import '../core/_base'
@import '../core/_mixin'

html
  box-sizing: border-box
  scroll-behavior: smooth

*, *::after, *::before
    box-sizing: inherit

h2, p
  padding: 0
  margin: 0

body
  @include display(flex, row, center, center)
  position: absolute
  font-family: 'Inter'
  height: 100%
  width: 100%
  letter-spacing: 2px
  font-weight: normal
  font-size: 20px
  background-color: $black_color

.bgImage
  position: absolute
  filter: blur(10px)
  z-index: -1
  width: inherit
  height: inherit

.player-card
  @include display(flex, column, center, flex-start)
  overflow: hidden
  position: relative
  height: 26em
  width: 20em
  z-index: 8
  border-radius: 10px
  box-shadow: 0 0 10px $black_color
  transition: width 0.5s ease
  @media screen and (max-width: 430px)
    width: 15em
    height: 20em

.player-img
  width: 100%
  transition: 1s

.player-btm-wrapper
  @include display(flex, column, center, center)
  height: 50%
  width: 100%
  background: -webkit-linear-gradient(25deg, rgb(64, 60, 60), rgb(103, 96, 96))
  padding: 0 20px

.player-btm
  @include display(flex, row, center, space-between)
  width: 100%

.btn-wrapper
  @include display(flex, column, center, center)

.play
  height: 50px
  width: 50px
  filter: invert(1)
  cursor: pointer

.song-desription
  @include display(flex, column, baseline, center)

.singer
  color: $green_color

.song
  color: $white_color
  font-size: 16px

.prev-btn, .next-btn
  height: 30px
  width: 30px
  filter: invert(1)
  cursor: pointer

.duration-progress
  @include display(flex, column, baseline, center)
  width: 80%
  padding: 10px 0

.audio-duration, .current-time
  font-family: 'Montserrat', sans-serif
  font-size: 13px
  align-items: center

.audio-duration
  align-self: flex-end
  color: $lime_color

.current-time
  align-self: flex-start
  color: $white_color

.progress-line
  appearance: none
  cursor: pointer
  width: 100%
  height: 5px
  transition: 2s
  border-radius: 10px
  background: $black_color
  margin: 5px 0
  &::-webkit-slider-thumb
    -webkit-appearance: none
    appearance: none
    width: 7px
    height: 10px
    border-radius: 10px
    background: $lime_color
  &::-moz-range-thumb
    width: 7px
    border-radius: 10px
    height: 10px
    background: $lime_color
